.contentPage {
  margin: 10px 50px 30px 50px;
}

h3.mainTitle {
  font-size: 20px;
  font-weight: bold;
  color: #003190;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.text {
  font-size: 16px;
  color: #616060;
}

a {
  text-decoration: none;
  color: #003190;
}
